table{
    border-collapse: collapse;
    margin:100px auto;
    border: 1px solid black;
}


td{
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    padding: 12px 41px;
    border-collapse: collapse;
}

.table-number{
    padding: 27px 17px;
}

.teble-data-client{
    padding:0 75px;
}

.table-data-last{
    padding: 25px 15px;
}
